.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;   
    overflow-x: hidden; 
    margin: 0;
}

header {
    z-index: 1000;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgba(59, 62, 79, 0.7); 
    padding: 10px 0;
    backdrop-filter: blur(2px); 
}
#title {
    font-weight: 900;
    font-size: 2em;
    margin-left: 2em;
    color: white;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.nav {
    list-style-type: none;
    display: flex; 
    padding: 0;
    margin: 0;
    margin-right: 3em;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block; 
}

.nav a:hover {
    background-color: rgb(18, 17, 17);
}
.nav i{
    color: white;
   
}
