<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c19c712794.js" crossorigin="anonymous"></script>
    <title>easyTravel</title>
    <link rel="icon" href="static/images/eztravels.png" type="image/png">

</head>
<body>
    <header class="header">

        <nav>
            <h1 id = "title">easyTravel</h1>
            <ul class="nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/search">Service</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">Log out</a></li>
                {% else %}
                    <a href="/register">Sign up<i class="fa-solid fa-user"></i></a>
                    <a href="/login">Log in<i class="fa-solid fa-user"></i></a>
                {% endif %}            </ul>
        </nav>
    </header>
    <section class="hotel-gallery">
        <h2> Hotels Near You</h2>
        <div class="hotel-container">
            <div class="hotel-card">
                <img src="images/hotel1.jpg" alt="Hotel 1">
                <h3 id="hotelname1">Hotel name 1</h3>
                <p id="rating1">Rating: </p>
                <p>Closest to you.</p>
                <button>Book Now</button>
            </div>
            <div class="hotel-card">
                <img src="images/hotel2.jpg" alt="Hotel 2">
                <h3 id="hotelname2">Hotel name 2</h3>
                <p id="rating2">Rating: </p>
                <p>Cheapest.</p>
                <button>Book Now</button>
            </div>
            <div class="hotel-card">
                <img src="images/hotel3.jpg" alt="Hotel 3">
                <h3 id="hotelname3">Hotel name 3</h3>
                <p id="rating3">Rating: </p>
                <p>Most rating.</p>
                <button>Book Now</button>
            </div>
        </div>
    </section>
</body>
</html>