<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c19c712794.js" crossorigin="anonymous"></script>
    <title>easyTravel</title>
    <link rel="icon" href="static/images/eztravels.png" type="image/png">

</head>
<body>
    <header class="header">

        <nav>
            <h1 id = "title">easyTravel</h1>
            <ul class="nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/search">Service</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">Log out</a></li>
                {% else %}
                    <a href="/register">Sign up<i class="fa-solid fa-user"></i></a>
                    <a href="/login">Log in<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="contact">
        <div class="content">
            <h2>Choose your vacation!</h2>
            <p>Contact us if you are having any trouble</p>
        </div>

            <div class="mapForm">
                <form action="{{ url_for('plan_route') }}" method="POST">
                    <div class="inputBox">
                        <input type="text" id="city" name="city" required>
                        <span>Destination</span>
                    </div>
                    <button type="button" class = "hero-btn" onclick="updateMap()" >
                        Search <i id ="ikonka" class="fa-solid fa-map-location-dot"></i>
                    </button>                    
                    <iframe id="mapFrame" 
                    width="600" 
                    height="450" 
                    class="mt-4 w-full rounded-lg shadow-lg"
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001318.8291699174!2d25.54317835!3d42.72541100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a8fec1c85bf089%3A0xa01269bf4c10!2sBulgaria!5e0!3m2!1sen!2sbg!4v1742574250704!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    <div class="inputBox">
                        <input type="text" id="start_date" name="start_date" required>
                        <span>Start date</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" id="end_date" name="end_date" required>
                        <span>End date</span>
                    </div>
                    <div class="inputBox">
                        <input type="number" id="budget" name="budget" required>
                        <span> Budget(BGN)</span>
                    </div>
                    <div class="inputBox">
                        <input type="number" id="lowest_rating" name="lowest_rating" required>
                        <span>Lowest rating for restaurant</span>
                    </div>
                    <div class="inputBox">
                        <input type="number" id="highest_rating" name="highest_rating" required>
                        <span>Highest rating for restaurant</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        function updateMap() {
            let destination = document.getElementById("city").value;
            let mapFrame = document.getElementById("mapFrame");
        
            if (destination.trim() !== "") {
                let encodedDestination = encodeURIComponent(destination);
                let mapUrl = `https://www.google.com/maps?q=${encodedDestination}&output=embed`;
                mapFrame.src = mapUrl;
            }
        }
        
        </script>
    
</body>
</html>