<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c19c712794.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav>
            <h1 id="title">Saitche</h1>
            <ul class="nav">
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/search">Service</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">Log out</a></li>
                {% else %}
                    <a href="/register">Sign up<i class="fa-solid fa-user"></i></a>
                    <a href="/login">Log in<i class="fa-solid fa-user"></i></a>
                {% endif %}            </ul>
        </nav>
    </header>
    <section class="contact">
        <div class="content">
            <h2>Log in</h2>
            <p>Contact us if you have trouble logging in</p>
        </div>

        <div class="contactForm">
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <h3>Log in to account</h3>
                <div class="login">
                    <p id="logtxt">Don't have an account?</p>
                    <a href="{{ url_for('register') }}">Sign up</a>
                </div>

                <div class="inputBox">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                    {% if form.email.errors %}
                        <small class="error-message">{{ form.email.errors[0] }}</small>
                    {% endif %}
                </div>

                <div class="inputBox">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    {% if form.password.errors %}
                        <small class="error-message">{{ form.password.errors[0] }}</small>
                    {% endif %}
                </div>

                <div class="inputBox" id = "remember">
                    {{ form.remember.label }} {{ form.remember }}
                </div>

                <div class="inputBox",name="Remember me">
                    {{ form.submit(class="submit-button") }}
                </div>
            </form>
        </div>
    </section>
</body>
</html>
