<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c19c712794.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav>
            <h1 id="title">Saitche</h1>
            <ul class="nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/search">Service</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">Log out</a></li>
                {% else %}
                    <a href="/register">Sign up<i class="fa-solid fa-user"></i></a>
                    <a href="/login">Log in<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="plan">
    <h1 id = "plan">Your Travel Plan</h1>
    {% if data %}
      <h2>Plan for your city</h2>
      <ul>
      {% for item in data %}
        <li>{{ item.city }}: 
            <ul>
                <li>Attractions: 
                    <ul>
                    {% for attraction in item.places.attractions %}
                        <li>{{ attraction.name }}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li>Restaurants: 
                    <ul>
                    {% for restaurant in item.places.restaurants %}
                        <li>{{ restaurant.name }}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li>Hotels: 
                    <ul>
                    {% for hotel in item.hotels %}
                        <li>{{ hotel.name }} - Price: {{ hotel.price }}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
      {% endfor %}
      </ul>
    {% else %}
    <p>No data available for this city.</p>
    {% endif %}

    </section>
</body>
</html>