<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easyTravel</title>
    <link rel="icon" href="static/images/eztravels.png" type="image/png">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c19c712794.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav>
            <h1 id="title">easyTravel</h1>
            <ul class="nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/search">Service</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">Log out</a></li>
                {% else %}
                    <a href="/register">Sign up<i class="fa-solid fa-user"></i></a>
                    <a href="/login">Log in<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="plan">
    <h1 id = "plan">Your Travel Plan</h1>
    {% if data %}
      <h2>Plan for your city:</h2>
      <ul>
      {% for item in data %}
        <li id = "city">{{ item.city }}: 
            <ul>
                <li id="atr">Attractions: 
                    <ul>
                    {% for attraction in item.places.attractions %}
                        <li id = "attraction">{{ attraction.name }}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li id="rest">Restaurants: 
                    <ul>
                    {% for restaurant in item.places.restaurants %}
                        <li id = "restaurant">{{ restaurant.name }}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li id="hot">Hotels: 
                    <ul>
                        {% for hotel in item.hotels %}
                            <li id="hotel">{{ hotel.name }} - Price: {{ hotel.total_price }}</li>
                            <div class = "booknow"><button onclick="searchHotels('{{ hotel.name }}')">Book now</button></div>
                        {% endfor %}
                    </ul>
                </li>
                
                <script>
                function searchHotels(hotelName) {
                    window.open(`https://www.booking.com/searchresults.en-gb.html?ss=${encodeURIComponent(hotelName)}`);
                }
                </script>
            </ul>
        </li>
      {% endfor %}
      </ul>
    {% else %}
    <p>No data available for this city.</p>
    {% endif %}

    </section>
</body>
</html>